upstream openmoney_api_js {
    server 127.0.0.1:8080;
}
upstream giftcard_api_js {
    server 127.0.0.1:9090;
}

# This version is for use in a VM where SSL is provided by the host.
# Uncomment the following lines, and the "listen 443 ssl;" line, if used on the 
# host.

# HTTP server
#
#server {
#    if ($host = www.) {
#        return 301 https://$host$request_uri;
#    } # managed by Certbot
#
#
#    if ($host = ) {
#        return 301 https://$host$request_uri;
#    } # managed by Certbot
#
#
#    listen 80;
#    server_name  ;
#    client_max_body_size 20m;
#    return         301 https://$server_name$request_uri;
#
#}
server {
    listen 80;
    #listen 443 ssl;
    #listen [::]:443 ssl ipv6only=on;

    server_name  om-gift.lrc.org.uk;
    client_max_body_size 21m;

    #root /opt/openmoney-gift/;
    root /home/om/openmoney-gift/;
    index index.html index.htm;

    location /V1/ {
	proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-NginX-Proxy true;
        proxy_pass http://giftcard_api_js;
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
	proxy_cache_bypass $http_upgrade;
    }

    location /V2/ {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-NginX-Proxy true;
        proxy_pass http://openmoney_api_js;
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;        
    }
    
    location / {
	if ($request_method = 'OPTIONS') {
		add_header 'Access-Control-Allow-Origin' '*';
        	add_header 'Access-Control-Allow-Credentials' 'true';
        	add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        	add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
		add_header 'Access-Control-Max-Age' 1728000;
        	add_header 'Content-Type' 'text/plain charset=UTF-8';
        	add_header 'Content-Length' 0;
        	return 204;
     	}
	alias /home/om/openmoney-gift/;
       	try_files $uri $uri/ /index.html;
    }

#    ssl_certificate /etc/letsencrypt/live//fullchain.pem; # managed by Certbot
#    ssl_certificate_key /etc/letsencrypt/live//privkey.pem; # managed by Certbot

}

