<div class="col-sm-12" style="padding-top: 10px;">
  <h1>Contact Support</h1>
  <div class="form-group text-left">
    <label for="email">Response Email Address</label>
    <input type="email" id="email" name="email" value="{{email}}" placeholder="Email" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="support">Support Request:</label>
    <textarea class="form-control" rows="5" id="support" name="support"></textarea>
  </div>
  <div class="text-right" style="padding-bottom:10px;">
    <button type="button" name="send" class="btn btn-lg btn-success-outline" >
      <strong>Send Request</strong>
    </button>
  </div>
</div>
